/* whole website */
body {
    font-size: 12px;
    margin: 0;
    font-family: "Avenir", sans-serif;
    background-color: lightgrey;
    display: flex;
    justify-content: left;
}

/* background & layouts */
header, footer, nav {
    align-content: center;
    background:darkblue;
    color: white;
    min-width: 350px;
    padding: 1rem;

    a {
        color: white;
        &.router-link-active {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    a:hover {
        color: gold;
        cursor: pointer;
    }
}

/*just the Xerno logo/header itself*/
header {
    display: flex;
    justify-content: center;
    font-size: clamp(2rem,1.5vw,5rem);
    padding: 0.5rem 0 0 0;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #574bff, 0 0 20px #fff, 0 0 30px #4bf9ff, 0 0 40px #574bff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }

        to {
            text-shadow: 0 0 20px #fff, 0 0 30px #27ecf3, 0 0 40px #27ecf3, 0 0 50px #27ecf3, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
}

nav {
    display: flex;
    justify-content: space-evenly;
}

section.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;

    h1 {
        justify-self: center;

        img{
            width: 10%
        }
    }

    div.explain {
        padding: 0 0 0.5rem 0;
        border-bottom: white solid 2px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*tablet viewports*/
@media (width >= 550px) {

    body {
        font-size: 14px;
    }

    header, footer, section.nav {
        display: flex;
        background:darkblue;
        color: white;

        section.nav {
        justify-content: center;
        gap: 1rem;
    }

    section.main {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

    }

    img {
        width: 100%;
    }
}}

/*desktop viewports*/
@media (width >= 1000px) {

    body {
            font-size: 16px;
    }

        section.nav {
            justify-content: center;
            flex-direction: row;
            gap: 1rem;
        }

    }



